@use "~bootstrap/scss/bootstrap.scss" as *;
@use "~resources/scss/roots.scss" as *;

header{
    background-color: $headerRed;
    a.navbar-brand{
        width: 300px;
    }
}

main{
    .card-body>a{
        text-decoration: none;
        color: black;

        h5:hover{
            text-decoration: underline;
            color: $headerRed;
        }

    }
    .card{

        img:hover{
            border: 2px solid gray;
        }
    }
}
